@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
  --primary: #3b82f6;
  --secondary: #1e293b;
  --muted: #1e293b;
  --accent: #1e293b;
  --card: #020617;
  --border: #1e293b;
}

body {
  background-color: #020617;
  color: #f8fafc;
}

.glass {
  background-color: rgba(15, 23, 42, 0.3);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}